:root {
  --light-font: #f5f5f5;
  --dark-font: #353535;
  --dark-bg: #242424;
  --bd-violet-bg: #7a28ff;
}

* {
  color: var(--light-font);
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--dark-bg);

}

.bg-dark {
  background-color: #242424 !important;
}

.full-vh {
  height: 100vh;
}

.border-test {
  border: 1px solid red;
}

.highlight {
  background-color: aliceblue;
}

.grid-custom {
  display: grid;
  grid-template-columns: 256px 256px;
}

.spacer {  
  background-color: var(--bd-violet-bg);
  width: 2px;
}

.reset-ul {
  margin-bottom: 0;
}

.reset-h3 {
  margin-bottom: 0;
}

.dark-font {
  color: var(--dark-font);
}

.btn-bd-primary {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6221cb;
  --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #{shade-color($bd-violet, 20%)};
  --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
}

.navbar.bg-dark {
  background: rgba(36, 36, 36, 0.95) !important;
  z-index: 10002;
}

textarea {
  resize: none;
}

#platform {
  animation: moveUp 3s ease-out;
}

.background-highlight {
  background: linear-gradient(135deg, #491899 0%, #6220CC 50%, #7A28FF 100%);
}

.rotate {
  animation: spin 5s infinite linear;
}

.rotate-opposite {
  animation: spinOpposite 50s infinite linear;
}

#pen {
  animation: pen 10s infinite ease-in-out;
  margin-bottom: 50%;
  
}

#car {
  animation:moveRight 8s infinite ease-in-out;
  animation-delay: 3s;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinOpposite {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes pen {
  0% {
    transform: translate(-200%);
  }
  50% {
    transform: rotate(0deg);
    translate: 200%;
  }
  100% {
    transform: rotate(1080deg);
    translate: -200%;
  }
}

@keyframes moveUp {
  from {
    transform: translateY(32px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes moveRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(100vw + 76px));
  }
}